{{#each tables}}
    <li class='list-group-item mt-4'>
        <h2>Table #</h2>
        <hr>
        <h2>{{customerID}}</h2>
        <h2>{{customerName}}</h2>
        <h2>{{customerEmail}}</h2>
        <h2>{{phoneNumber}}</h2>
    </li>
    
{{/each}}


